@page "/game/"
@page "/game/{Uuid}"
@using TourDeApp.Components.Pages.Shared
@rendermode InteractiveServer

<PageTitle>Game</PageTitle>

@if (_game != null)
{
    <div class="grid-container">
        <div class="left">
            <div class="grid-item">
                @if (hr_ed)
                {
                    <h1 id="text_2" style=" font-size: 48px; font-family: 'Dosis-ExtraBold', sans-serif; text-align:center;">HRA
                    </h1>
                    <div style="display: flex; gap: 10px;">
                        <h3 id="text_0">Na řadě je:</h3>
                        @if (_game.Next == CellState.X)
                        {
                            <img src="/TdA_Ikonky/SVG/X/X_cervene.svg" style="width: 25px; height: 25px; margin-top: 5px;" />
                        }
                        else
                        {
                            <img src="/TdA_Ikonky/SVG/O/O_modre.svg" style="width: 25px; height: 25px; margin-top: 5px;" />
                        }
                    </div>
                }
                else
                {
                    <h1 id="text_1" style=" font-size: 48px; font-family: 'Dosis-ExtraBold', sans-serif;">EDITOR</h1>
                }
            </div>
        </div>
        
        <Modal @ref="WinningDialog">
            <div container>
                @if (_game.Winner == CellState.O)
                {
                    <h2>Kolečko vyhrálo</h2>
                }
                else if (_game.Winner == CellState.X)
                {
                    <h2>Křížek vyhrál</h2>
                }

                <button class="buttn"@onclick="() => { WinningDialog.Close(); ModalRef.Open(); }">Uložit hru</button>
            </div>
        </Modal>
        
        <div class="game">
            <GameField></GameField>
        </div>
        
        <div class="right">
            <div class="grid-item">
                <div class="container_g">
                    <button class=tlac_g id="tlac_2" @onclick="() => hr_ed = true">Hra</button>
                    <div id="text_0">|</div>
                    <button class=tlac_g id="tlac_1" @onclick="() => hr_ed = false">Editor</button>
                </div>
                @if (hr_ed)
                {
                    <Modal @ref="ModalRef">
                        <h3 id="text_2">Uložení hry</h3>
                        <EditForm Model="@UserModel" OnValidSubmit="HandleValidSubmit">
                            <div class="form-group">
                                <label for="username">Název hry:</label>
                                <InputText required placeholder="hra1" @bind-Value="_saveName" />
                            </div>
                            
                            <div style="display: flex; flex-direction:  row; justify-content: space-between; margin-top: 10px">
                                <label>Obtížnost:</label>
                                
                                <div style="display: flex; justify-content: center; gap: 10px;">
                                    <select id="difficulty" @bind="_saveDifficulty">
                                        <option value="@DifficultyType.Beginner">Beginner</option>
                                        <option value="@DifficultyType.Easy">Easy</option>
                                        <option value="@DifficultyType.Medium">Medium</option>
                                        <option value="@DifficultyType.Hard">Hard</option>
                                        <option value="@DifficultyType.Extreme">Extreme</option>
                                    </select>
                                </div>
                            </div>
                            <br />
                            <button id="tlac_3" @onclick="SaveGame" type="submit" class="submit"
                                style="display: flex; justify-content: center">Uložit</button>

                        </EditForm>
                    </Modal>
                    <hr />
                    <br />
                    <div class="center">
                        <button @onclick="OpenModal" class="buttn">Uložit hru</button>
                    </div>

                }
                else
                {
                    <hr />
                }
            </div>
        </div>
    </div>
}
else if (_game == null)
{
    // TODO: Show loading screen or spinning circle (will be nice when games are retrieved from database)
}
else
{
    // TODO: Display a message saying who has won, how many rounds, etc.
}

@code
{

}
